In [3]:
import pandas as pd

In [13]:
seri=pd.Series([1,2,3,4,5]) #soldaki index sagdaki ciktilar

In [15]:
type(seri)

pandas.core.series.Series

In [17]:
seri.axes

[RangeIndex(start=0, stop=5, step=1)]

In [19]:
seri.dtype

dtype('int64')

In [21]:
seri.size

5

In [23]:
seri.ndim

1

In [25]:
seri.values

array([1, 2, 3, 4, 5])

In [29]:
seri.head(3)

0    1
1    2
2    3
dtype: int64

In [31]:
seri.tail(2)

3    4
4    5
dtype: int64

In [33]:
pd.Series([99,22,232,94,5])  #index isimlendirme

0     99
1     22
2    232
3     94
4      5
dtype: int64

In [43]:
seri =pd.Series([99,22,232,94,5] , index = ["a","b","c","d","e"])

In [47]:
seri

a     99
b     22
c    232
d     94
e      5
dtype: int64

In [51]:
seri["a"]

99

In [53]:
seri["a":"c"]

a     99
b     22
c    232
dtype: int64

In [55]:
pd.concat([seri,seri])

a     99
b     22
c    232
d     94
e      5
a     99
b     22
c    232
d     94
e      5
dtype: int64

In [57]:
#-------------------------------

In [63]:
import numpy as np
a=np.array([1,2,33,444,75])
seri=pd.Series(a)
seri

0      1
1      2
2     33
3    444
4     75
dtype: int64

In [65]:
seri[0]

1

In [67]:
seri.keys

<bound method Series.keys of 0      1
1      2
2     33
3    444
4     75
dtype: int64>

In [69]:
list(seri.items())

[(0, 1), (1, 2), (2, 33), (3, 444), (4, 75)]

In [77]:
0 in seri

True

In [79]:
#fancy eleman
seri[[0,1]]

0    1
1    2
dtype: int64

In [81]:
#-----------------------------------------
import pandas as pd

In [83]:
l=[1,2,39,67,90]

In [87]:
pd.DataFrame(l,columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [89]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [91]:
pd.DataFrame(m,columns=["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [93]:
df=pd.DataFrame(m,columns = ["var1","var2","var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [95]:
df.columns =("deg1","deg2","deg3")

In [97]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [99]:
type(df)

pandas.core.frame.DataFrame

In [101]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [105]:
df.shape

(3, 3)

In [107]:
df.ndim

2

In [109]:
df.size

9

In [111]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [113]:
#--------------------------
import numpy as np
s1=np.random.randint(10,size=5)
s2=np.random.randint(10,size=5)
s3=np.random.randint(10,size=5)

In [115]:
sozluk={"var1":s1,"var2":s2,"var3":s3}

In [117]:
sozluk

{'var1': array([9, 3, 8, 4, 2]),
 'var2': array([2, 0, 1, 0, 3]),
 'var3': array([7, 4, 0, 6, 2])}

In [119]:
df= pd.DataFrame(sozluk)
df

   var1  var2  var3
0     9     2     7
1     3     0     4
2     8     1     0
3     4     0     6
4     2     3     2

In [123]:
df.index=["a","b","c","d","e"]
df

   var1  var2  var3
a     9     2     7
b     3     0     4
c     8     1     0
d     4     0     6
e     2     3     2

In [127]:
df["c":"e"]

   var1  var2  var3
c     8     1     0
d     4     0     6
e     2     3     2

In [129]:
df.drop("a",axis=0) #kalici olarak silmez drop

   var1  var2  var3
b     3     0     4
c     8     1     0
d     4     0     6
e     2     3     2

In [131]:
df

   var1  var2  var3
a     9     2     7
b     3     0     4
c     8     1     0
d     4     0     6
e     2     3     2

In [133]:
df.drop("a",axis=0,inplace=True) #kalici olarak silmek icin bu komut kullanilir
df

   var1  var2  var3
b     3     0     4
c     8     1     0
d     4     0     6
e     2     3     2

In [135]:
l=["c","e"]

In [137]:
df.drop(l,axis=0) #axis 0 satiri ifade eder axis 1 sutunu

   var1  var2  var3
b     3     0     4
d     4     0     6

In [139]:
"var1" in df

True

In [141]:
l = ["var1","var2","var4"]

In [143]:
for i in l:
    print(i in df)

True
True
False

In [145]:
df

   var1  var2  var3
b     3     0     4
c     8     1     0
d     4     0     6
e     2     3     2

In [147]:
df["var4"] = df["var1"] / df["var2"]
df

   var1  var2  var3      var4
b     3     0     4       inf
c     8     1     0  8.000000
d     4     0     6       inf
e     2     3     2  0.666667

In [149]:
#degisken silmek
df.drop("var4",axis =1)

   var1  var2  var3
b     3     0     4
c     8     1     0
d     4     0     6
e     2     3     2